#slider{font-size:0;clear:both;overflow:hidden;position:relative}
#slider .slides li img{display:inline-block;font-size:0;line-height:0;max-height:100%}
#slider .flex-direction-nav{display:none}
#slider:hover .flex-direction-nav{display:block}
.flex-direction-nav{position:absolute;margin-top:-16px;left:0;top:50%;width:100%}
.flex-disabled{display:none!important}
#slider .flex-prev,#slider .flex-next{display:block;height:50px;position:absolute;top:0;text-indent:-9999px;width:30px;z-index:99}
#slider .flex-prev{left:15px}
#slider .flex-next{right:15px;-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
#carousel{font-size:0;padding-right:95px;position:absolute;text-align:left;bottom:147px;right:0;width:48%}
#carousel .flex-viewport{display:inline-block;width:100%}
#carousel .slides li{cursor:pointer;position:relative;text-align:center}
#carousel .slides li:before{border:none;box-sizing:border-box;content:'';position:absolute;margin-left:-25px;top:0;left:calc(50% + 25px);height:100%;width:0;border-bottom:2px solid #f6f6f6;transition:.3s;-webkit-transition:.3s}
#carousel .slides li.flex-active-slide img{opacity:.7}
#carousel .slides li.flex-active-slide:before,#carousel .slides li:hover:before{border-bottom:2px solid #0070c9;width:50px;left:50%}
#carousel .slides li img{display:inline-block;font-size:0;line-height:0;margin:5px 0;max-height:100%}
#carousel .flex-active-slide .img-bllc img{cursor:default}
#carousel .flex-nav-prev,#carousel .flex-nav-next{border:0!important;display:block;position:absolute;top:0;height:33px;width:33px;z-index:99}
#carousel .flex-nav-prev{left:-40px}
#carousel .flex-nav-next{right:40px}
#carousel .flex-prev,#carousel .flex-next{border:2px solid #898989;background-color:#fff;display:block;position:relative;height:34px;width:34px;text-indent:-9999px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%}
#carousel .flex-prev:before,#carousel .flex-prev:after,#carousel .flex-next:before,#carousel .flex-next:after{content:'';position:absolute;border-top:2px solid #898989;left:50%;top:50%;height:1px;width:10px}
#carousel .flex-prev:before,#carousel .flex-next:before{margin:-4px 0 0 -5px;-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#carousel .flex-prev:after,#carousel .flex-next:after{margin:2px 0 0 -5px;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
#carousel .flex-prev:hover,#carousel .flex-next:hover,#carousel .flex-next:hover:before,#carousel .flex-next:hover:after,#carousel .flex-prev:hover:before,#carousel .flex-prev:hover:after{border-color:#0070c9}
#carousel .flex-next{-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
@media screen and (max-width: 1460px) {
#carousel{bottom:52px;width:56%}
#carousel .flex-nav-next{right:25px}
#carousel .flex-prev,#carousel .flex-next{border:1px solid #898989}
#carousel .flex-prev:before,#carousel .flex-prev:after,#carousel .flex-next:before,#carousel .flex-next:after{border-top:1px solid #898989}
#carousel .flex-prev:after,#carousel .flex-next:after{margin-top:3px}
}
@media screen and (max-width: 768px) {
#carousel .flex-prev,#carousel .flex-next{border-color:#fff}
#carousel .flex-nav-next{right:7px}
}
@media screen and (max-width: 640px) {
#carousel{position:relative;right:inherit;bottom:inherit;padding:0 20px;margin-top:20px;text-align:center;width:100%}
#carousel .flex-viewport{max-width:250px}
#carousel .flex-nav-next{right:-8px}
#carousel .flex-nav-prev{left:-8px}
}